@import '/app/_styles/color/variables.scss';
@import '/app/_styles/todo/variables.scss';
@import '/app/_styles/size/mixins.scss';
@import '/app/_styles/facade/mixins.scss';
@import '/app/_styles/composition/mixins.scss';

$small-size: 5px;
$normal-size: 8px;
$wide-size: 10px;

.todoStatusSelect {

    .optionStatus {
        @include row;
        gap: 10px;
        cursor: pointer;
        background-color: $main-dark-1-color;
        padding: $normal-size $wide-size $normal-size $wide-size;

        img {
            width: 20px;
            height: 20px;
        }

        &:hover {
            background-color: $main-light-1-color;
        }
    }

    .currentStatus {
        border-radius: 5px;
        border: 2px solid $main-light-2-color;
    }

    .optionsPane {
        position: absolute;
        border-radius: $normal-size;
        overflow: hidden;
        @include normal-shadow;
    }
}

.doneStatusColor {
    color: $done-status-color;
}

.backlogStatusColor {
    color: $backlog-status-color;
}

.willBeBackStatusColor {
    color: $will-be-back-status-color;
}

.pingMeStatusColor {
    color: $ping-me-status-color;
}

.nextToTakeStatusColor {
    color: $next-to-take-status-color;
}

.inProgressStatusColor {
    color: $in-progress-status-color;
}