@import '/app/_styles/color/variables.scss';
@import '/app/_styles/todo/variables.scss';
@import '/app/_styles/size/mixins.scss';
@import '/app/_styles/facade/mixins.scss';
@import '/app/_styles/composition/mixins.scss';

$small-size: 5px;
$normal-size: 8px;
$wide-size: 10px;

.todoStatusSelect {
    @include row-stretch;

    .optionStatus,
    .currentStatus {
        cursor: pointer;
        background-color: $main-light-3-color;
        padding: $normal-size $wide-size $normal-size $wide-size;
        @include row-start-and-align-center($small-size);
    }

    .currentStatus {
        border-radius: $normal-size;
    }

    .optionsPane {
        position: absolute;
        border-radius: $normal-size;
        overflow: hidden;
        @include normal-shadow;
    }

    .optionStatus:hover {
        background-color: $main-color;
    }

    .optionStatus:hover {
        background-color: $main-dark-1-color;
    }
}

.doneStatusColor {
    color: $done-status-color;
}

.backlogStatusColor {
    color: $backlog-status-color;
}

.willBeBackStatusColor {
    color: $will-be-back-status-color;
}

.pingMeStatusColor {
    color: $ping-me-status-color;
}

.nextToTakeStatusColor {
    color: $next-to-take-status-color;
}

.inProgressStatusColor {
    color: $in-progress-status-color;
}