@import '/app/_styles/color/variables.scss';
@import '/app/_styles/todo/variables.scss';
@import '/app/_styles/size/mixins.scss';
@import '/app/_styles/facade/mixins.scss';
@import '/app/_styles/composition/mixins.scss';

$small-size: 3px;
$normal-size: 6px;
$wide-size: 10px;

.generalSelectBackground {
    position: absolute;
    z-index: 10;
    @include full-screen;
}

.aboveBackground {
    z-index: 12;
}

.generalSelect {

    .option {
        cursor: pointer;
        // background-color: $main-light-3-color;
        background-color: $secondary-dark-1-color;
        padding: $small-size;
        gap: 5px;

        &:hover {
            background-color: $secondary-dark-1-color;
        }
    }

    .currentOption {
        border-radius: $normal-size;
    }

    .allOptions {
        position: absolute;
        border-radius: $normal-size;
        overflow: hidden;
        @include normal-shadow;
    }
}
