@import "/app/_styles/composition/mixins.scss";
@import "/app/_styles/size/mixins.scss";
@import "/app/_styles/color/variables.scss";

$normal-size: 5px;

.todoStatusPage {

    .statusedTodos {
    }

    .recentTodos {
        background-color: $main-dark-2-color;
        padding: 6px 10px;
        border-radius: 5px;
    }

    .chosenStatus {
        background-color: rgba(white, 0.15);
    }

}