@import "app/_styles/composition/mixins.scss";

.iconButton {
    padding: 2px;
    border-radius: 4px;
    display: inline-block;
    cursor: pointer;

    &:hover {
        background-color: rgba(255, 255, 255, 0.2);
    }
}

@mixin icon-sized($height, $width) {
    height: #{$height}px;
    min-width: #{$width}px;

    img {
        height: #{$height}px;
        min-width: #{$width}px;
    }
}

.smallSized {
    @include icon-sized(15, 15);
}

.mediumSized {
    @include icon-sized(24, 24);
}

.largeSized {
    @include icon-sized(32, 32);
}