@import '/app/_styles/todo/variables.scss';
@import '/app/_styles/color/variables.scss';

$normal-size: 5px;
$wide-size: 10px;

.primitiveCard {
    max-width: 450px;
    min-width: 250px;
    padding: 4px;
    padding-bottom: 3px;
    padding-right: 10px;
    background-color: $main-dark-1-color;
    color: $secondary-font-color;
    font-size: small;
    border-radius: 8px;
    height: auto;

    .todoName {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow-x: hidden;
        margin-left: 10px;
    }
}