@import '/app/_styles/composition/mixins.scss';
@import '/app/_styles/facade/mixins.scss';
@import '/app/_styles/size/mixins.scss';
@import '/app/_styles/color/variables.scss';

$normal-size: 5px;

.todoCard {
    overflow: hidden;
    border-radius: $normal-size;

    .navigation {
        $navigation-opacity: 0.6;
        opacity: $navigation-opacity;
        padding: 8px 5px;
        border-right: 1px solid rgba(white, $navigation-opacity);

        a {
            display: block;
        }

        &:hover {
            background-color: rgba($color: white, $alpha: 0.3);
        }

        img {
            width: 15px;
            height: 15px;
        }
    }

    $top-padding: 5px;
    $info-left-padding: 8px;

    .mainPanel {
        padding: 2px 0px;
        .namePanel {
            padding-top: $top-padding;
            padding-left: $info-left-padding;
        }
        .secondaryPanel {
            padding-left: $info-left-padding;
            padding-bottom: $top-padding;
            .iconButton {
                position: relative;
                top: 2px;
            }
            .todoInteractedOn {
                font-size: smaller;
                color: darken($main-font-color, 30%);
            }
        }
    }
}