@import 'app/_styles/size/mixins.scss';
@import 'app/_styles/composition/mixins.scss';
@import 'app/_styles/facade/mixins.scss';
@import 'app/_styles/color/variables.scss';

@font-face {
    font-family: Nunito;
    font-weight: normal;
    src: url('/fonts/Nunito-Regular.ttf');
}

@font-face {
    font-family: Nunito;
    font-weight: bold;
    src: url('/fonts/Nunito-Black.ttf');
}

$small-size: 5px;
$normal-size: 10px;
$wide-size: 10px;
$large-size: 15px;

.richText {
    flex: 1;
    position: relative;
    overflow: auto;
    padding: $normal-size;
    color: $main-font-color;
}