@mixin bordered($side: all, $color: white, $size: $border-normal-size) {
	border-color: $color;
	@if $side == all {
		border-width: $size;
	} @else if $side == bottom {
		border-bottom-width: $size;
	} @else if $side == top {
		border-top-width: $size;
	} @else if $side == left {
		border-left-width: $size;
	} @else if $side == right {
		border-right-width: $size;
	}
}

@mixin styled-scrollbar($background-color: transparent) {

	&::-webkit-scrollbar {
		width: 6px;
		height: 6px;
		background-color: $background-color;
	}

	&::-webkit-scrollbar-track {
		border-radius: 3px;
	}

	&::-webkit-scrollbar-thumb {
		background-color: transparent;
		border-radius: 4px;
	}

	&:hover::-webkit-scrollbar-thumb {
		background-color: rgba(white, 0.2);
	}
}

@mixin normal-shadow {
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

@mixin standard-container {
	padding: 6px;
	border-radius: 6px;
}
