@import '/app/_styles/facade/mixins.scss';
@import '/app/_styles/color/variables.scss';
@import '/app/_styles/size/mixins.scss';

.modalWindowBackgroud {
    position: absolute;
    z-index: 10;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(0deg,
            rgba($color: #000000, $alpha: 1) 0%,
            rgba($color: #000000, $alpha: 0.9) 100%);
}

.modalWindowBody {
    border-radius: 5px;
    overflow: hidden;
    background-color: $main-dark-1-color;
}

$widths: 20, 40, 50, 60, 80;

@each $width in $widths {
    .width-#{$width} {
        width: #{$width}vw;
    }
}

@each $height in $widths {
    .height-#{$height} {
        height: #{$height}vh;
    }
}