$spacing-values: (
    '0': 0px,
    '1': 4px,
    '2': 8px,
    '3': 12px,
    '4': 16px,
    '5': 20px,
    '6': 24px,
    '8': 32px,
    '10': 40px,
    '12': 48px,
    '16': 64px,
    '20': 80px,
    '24': 96px,
    '32': 128px,
    '40': 160px,
    '48': 192px,
    '56': 224px,
    '64': 256px,
);

@each $name, $value in $spacing-values {
    .p-#{$name} {
        padding: $value;
    }
    .pt-#{$name} {
        padding-top: $value;
    }
    .pr-#{$name} {
        padding-right: $value;
    }
    .pb-#{$name} {
        padding-bottom: $value;
    }
    .pl-#{$name} {
        padding-left: $value;
    }
    .px-#{$name} {
        padding-left: $value;
        padding-right: $value;
    }
    .py-#{$name} {
        padding-top: $value;
        padding-bottom: $value;
    }
    .m-#{$name} {
        margin: $value;
    }
    .mt-#{$name} {
        margin-top: $value;
    }
    .mr-#{$name} {
        margin-right: $value;
    }
    .mb-#{$name} {
        margin-bottom: $value;
    }
    .ml-#{$name} {
        margin-left: $value;
    }
    .mx-#{$name} {
        margin-left: $value;
        margin-right: $value;
    }
    .my-#{$name} {
        margin-top: $value;
        margin-bottom: $value;
    }
}
