@import "app/_styles/color/variables.scss";

$normal-size: 5px;

.standardInput {
    background-color: $main-light-3-color;
    padding: 8px;
    border-radius: $normal-size;
    outline: none;
    border-width: 0px;
    font-size: medium;
    color: $secondary-font-color;
}