@import "app/_styles/color/variables.scss";

.fPaper {
    border-radius: 5px;
    border: 0px solid;
}

.main-fPaper {
    @extend .fPaper;
}

.interactive-main-fPaper {
    @extend .main-fPaper;
}

.secondary-fPaper {
    @extend .fPaper;
}

.interactive-secondary-fPaper {
    @extend .secondary-fPaper;
}

@for $i from 1 through 5 {

    .main-fPaper-light-#{$i} {
        @extend .fPaper;
        background-color: var(--main-light-#{$i}-color);
    }

    .interactive-main-fPaper-light-#{$i} {
        @extend .main-fPaper-light-#{$i};

        &:hover {
            background-color: var(--main-light-#{$i + 1}-color);
        }
    }

    .main-fPaper-dark-#{$i} {
        @extend .fPaper;
        background-color: var(--main-dark-#{$i}-color);
    }

    .interactive-main-fPaper-dark-#{$i} {
        @extend .main-fPaper-dark-#{$i};

        &:hover {
            background-color: var(--main-dark-#{$i - 1}-color);
        }
    }

    .secondary-fPaper-light-#{$i} {
        @extend .fPaper;
        background-color: var(--secondary-light-#{$i}-color);
    }

    .interactive-secondary-fPaper-light-#{$i} {
        @extend .secondary-fPaper-light-#{$i};

        &:hover {
            background-color: var(--secondary-light-#{$i + 1}-color);
        }
    }

    .secondary-fPaper-dark-#{$i} {
        @extend .fPaper;
        background-color: var(--secondary-dark-#{$i}-color);
    }

    .interactive-secondary-fPaper-dark-#{$i} {
        @extend .secondary-fPaper-dark-#{$i};

        &:hover {
            background-color: var(--secondary-dark-#{$i - 1}-color);
        }
    }

    .outline-#{$i} {
        border-width: #{$i}px;
    }

    .main-outline-light-#{$i} {
        border-color: var(--main-light-#{$i}-color);
    }

    .interactive-main-outline-light-#{$i} {
        @extend .main-outline-light-#{$i};

        &:hover {
            border-color: var(--main-light-#{$i + 1}-color);
        }
    }

    .main-outline-dark-#{$i} {
        border-color: var(--main-dark-#{$i}-color);
    }

    .interactive-main-outline-dark-#{$i} {
        @extend .main-outline-dark-#{$i};

        &:hover {
            border-color: var(--main-dark-#{$i - 1}-color);
        }
    }

    .secondary-outline-light-#{$i} {
        border-color: var(--secondary-light-#{$i}-color);
    }

    .interactive-secondary-outline-light-#{$i} {
        @extend .secondary-outline-light-#{$i};

        &:hover {
            border-color: var(--secondary-light-#{$i + 1}-color);
        }
    }

    .secondary-outline-dark-#{$i} {
        border-color: var(--secondary-dark-#{$i}-color);
    }

    .interactive-secondary-outline-dark-#{$i} {
        @extend .secondary-outline-dark-#{$i};

        &:hover {
            border-color: var(--secondary-dark-#{$i - 1}-color);
        }
    }
}