@import '/app/_styles/color/variables.scss';
@import '/app/_styles/size/mixins.scss';
@import '/app/_styles/facade/mixins.scss';
@import '/app/_styles/todo/variables.scss';

$normal-size: 5px;
$wide-size: 10px;

.createTodoModal {
    @include screen-sized(40, 50);
    padding: 30px 30px;

    .editPanel {
    }

    .controlPanel {
    }
}