@import '/app/_styles/color/variables.scss';
@import '/app/_styles/size/mixins.scss';
@import '/app/_styles/facade/mixins.scss';
@import '/app/_styles/todo/variables.scss';

$normal-size: 5px;
$wide-size: 10px;

.createTodo {
    background-color: $main-light-1-color;
    @include screen-sized(40, 40);
    padding: 30px 20px;

    .editPanel {
    }

    .controlPanel {
    }
}