.doneStatusColor {
    color: $done-status-color;
}

.backlogStatusColor {
    color: $backlog-status-color;
}

.willBeBackStatusColor {
    color: $will-be-back-status-color;
}

.pingMeStatusColor {
    color: $ping-me-status-color;
}

.nextToTakeStatusColor {
    color: $next-to-take-status-color;
}

.inProgressStatusColor {
    color: $in-progress-status-color;
}