// base colors
$done-status-color: white;
$backlog-status-color: rgb(169, 119, 238);
$will-be-back-status-color: rgb(109, 215, 249);
$ping-me-status-color: rgb(217, 74, 179);
$next-to-take-status-color: rgb(233, 166, 67);
$in-progress-status-color: rgb(44, 204, 130);