@import '../../../styles/color/variables.scss';
@import '../../../styles/size/mixins.scss';
@import '../../../styles/composition/mixins.scss';
@import '../../../styles/facade/mixins.scss';

$normal-size: 5px;
$small-size: 3px;

.todoSideMenu {
    background-color: $main-light-1-color;
    @include column-center($normal-size);
    padding: $normal-size $small-size;

    img {
        @include icon-large-sized;
    }

    .todo-side-menu-item {
        cursor: pointer;
        border-radius: $normal-size;
        padding: 1px;
    }

    .todo-side-menu-item:hover {
        background-color: $main-color;
    }

    .separator {
        height: 2px;
        width: 20px;
        background-color: $secondary-pale-1-color;
    }

    :global(.todo-side-menu-item img) {
        @include icon-large-sized;
    }

    .normal-sized {
        img {
            @include icon-normal-sized;
        }
    }
}