@import 'app/_styles/color/variables.scss';

$normal-size: 5px;
$small-size: 3px;

.todoSideMenu {
    background-color: $main-dark-2-color;
    padding: $normal-size $small-size;
    gap: 5px;
    width: 24px;

    .todo-side-menu-item {
        cursor: pointer;
        border-radius: $normal-size;
        padding: 1px;
    }

    .todo-side-menu-item:hover {
        background-color: $main-color;
    }

    .separator {
        height: 2px;
        width: 20px;
        border-radius: 2px;
        background-color: $secondary-light-1-color;
    }
}