$icon-small-size: 12px;
$icon-normal-size: 20px;
$icon-large-size: 24px;
$icon-larger-size: 30px;
$icon-super-large-size: 124px;

$border-extrawide-size: 12px;
$border-wide-size: 6px;
$border-normal-size: 3px;
$border-small-size: 2px;

$large-size: 20px;
$wide-size: 10px;
$normal-size: 6px;
$small-size: 3px;

$space-normal-size: 30px;