@import "/app/_styles/composition/mixins.scss";
@import "/app/_styles/size/mixins.scss";

$normal-size: 5px;

.todoItemPage {

    img {
        @include icon-normal-sized;       
    }

    .parents {
    }

    .mainAndChildren {
    }

    .main {
        flex: 3;

        .mainInfo {}

        .additionalInfo {
            font-size: small;
        }

        .richEditor {
        }
    }

    .children {
        flex: 2;
    }
}