@import "/app/_styles/composition/mixins.scss";
@import "/app/_styles/size/mixins.scss";
@import "/app/_styles/color/variables.scss";
@import "/app/_styles/facade/mixins.scss";
@import "/app/_styles/color/variables.scss";

.todoItemPage {
    .parentBreadcrumbs {
        flex-shrink: 0;
    }

    .additionalInfo {
        font-size: smaller;
    }

    .separator {
        margin: 10px 0px;
        min-width: 10px;
        min-height: 10px;
        background-color: $main-light-1-color;
        border-radius: 5px;
    }
}